@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

main {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh ;
    width: 100vw;
}

section {
    display: inline-block;
}

section#cel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vh;
    height: 80vh;
    background-image: url('../imagens/frame-iphone.png');
    background-size: cover;
}


iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 34.2vh;
    height: 61.8vh;
}

section#icons {
    display: inline-block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    text-align: left;
}


section#icons img {
    width: 8vh;
    height: 8vh;
    display: block;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.489);
}

section#icons img:hover {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 8px 8px 5ppx rgba(0, 0, 0, 0.531);
    transform: translate(-5px, -5px);
    transition: transform .3s;
}

section#bola {
    background-color: transparent;
    position: absolute;
    width: 5vh;
    height: 5.5vh;
    top: 94%;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.214);
    
}